<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
      <p>Hakkı Öğretmen</p>
      <p>hakki.ogretmen@comparex.com </p>  
      <p></p>
      <p>Comparex Turkey</p>
      <p>By Your Side in a Digital World</p>    
      <ul class="actions">
       <li><a href="/who" class="button scrolly">Daha fazla bilgi için</a></li>
    </ul>
  </div>
</section>
