<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
     <p>Türkiye’nin yazılıma odaklı ilk 10 bilişim firmasından biri olan Dataserv Bilişim Teknolojileri A.Ş., ülkemizin artan bilgi teknolojileri ihtiyaçlarına yazılım alanlarında çözümler üretmek amacıyla İstanbul’da 1997 yılında kuruldu. Özel sektör ve kamu kuruluşları olmak üzere 500’e yakın kurumsal müşterisine İstanbul, Ankara ve Bursa’daki ofislerinde 50’yi aşkın seçkin çalışanı ve çözüm ortakları ile en iyi hizmet ve desteği sağlamakta olan Dataserv, Ekim 2015’de COMPAREX grubunun bir parçası haline geldi ve tüm finans, telekom, büyük kamu ve büyük sanayi firmalarını müşteri portfoyünde barındıran COMPAREX; kurumsal yazılım pazarının en önemli oyuncularından birisi haline geldi.</p>
    <p>Microsoft, Dell Software Group, HP Software, Software AG, McAfee, Automic Software, EMC – RSA Software, Outsytems gibi kendi alanında dünya lideri firmaların yazılım çözümlerini portföyünde barındırmakta olan Dataserv ile COMPAREX’in global olarak taşıdığı 3.000 civarında ürün ve çözüm Türkiye’nin en büyük kurumlarında projelendirmekte ve katma değerli çözümler ile piyasanın en önemli başarı hikayelerine imza atmaktadır.</p>
    <ul class="actions">
      <li><a href="/contact" class="button scrolly">Tanışmak için standımıza bekliyoruz!</a></li>
    </ul>
  </div>
</section>